{
    "experiment_id": "552d38a2f1ef6262ff001a07",
    "address": "149.156.10.32:6442",
    "http_schema": "https",
    "user": "plguser",
    "password": "pass",
    
    "_experiment_manager_proxy_path": "/home/user/Proxy/valid.pem",
    
    "parameters": [
        {"id": "x", "type": "float", "min": 0, "max": 100},
        {"id": "y", "type": "float", "min": -100, "max": 100},
        {"id": "z", "type": "float", "min": 0, "max": 100}
    ],
    
    "morris_samples_count": 10,
    "morris_levels_count": 10
}
